<% flash.each do |key, msg| %>
    <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center">
        <%= msg %> 
     </div>
<% end %>

<div class="register-photo">
    <div class="form-container">
        <%= form_tag login_path do %>
        <h2 class="text-center"><strong>Welcome</strong> back.</h2>
            <div class="form-group"> 
                <%= email_field_tag :email, nil, :class => 'form-control', :placeholder => "Email" %>
            </div>

            <div class="form-group"> 
                <%= password_field_tag :password, nil, :class => 'form-control', :placeholder => "Password" %>
            </div>

            <div class="form-group"> 
                <%= submit_tag 'Sign in', :class => 'btn btn-primary btn-block mb-4' %>
            </div>

            <p>Don't have an account? Sing up  <%= link_to 'here.', new_user_path, class: 'here' %></p>
        <% end %>
    </div>
</div>
