<% if @user.errors.any? %>
  <div class="alert alert-info">
    <div>
      Please, fix the following <%= pluralize(@user.errors.count, "error") %>:
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="register-photo">
  <div class="form-container">
    <div class="image-holder"></div>

    <%= form_for @user do |f| %>

      <h2 class="text-center"><strong>Create</strong> an account.</h2>
        <div class="form-group">          
            <%= f.text_field :name, :class => 'form-control', :placeholder => 'Name' %>
        </div>
      
        <div class="form-group">
            <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
        </div>
      
        <div class="form-group">
            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
        </div>

        <div class="form-group">
            <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Join!', :class => 'btn btn-primary btn-block mb-4' %>
        </div>

        <p>Already have an account? Sign in  <%= link_to 'here.', login_path, class: 'here' %></p>
    <% end %>

  </div>
</div>
