<% if @current_user.present? %>
    <h1 class="text-center">Discover new songs</h1>
    <hr class="hr" />

    <div class="row .align-items-center">
        <div class="col-md-3 like-dislike-container">
            <%= link_to image_tag("dislike.png", class: 'fa-lg'), dislike_path  %>
        </div>

        <div class="col-md-6">
            <div class="player-background">
                <div class="player-image">
                    <img class="album-player thumbnail-box-shadow rounded float-start" src="<%= @song_to_be_displayed.album.image %>" alt="album">
                </div>
                <div class="player-container">
                    <h5><%= @song_to_be_displayed.name %></h5>
                    <p><%= @song_to_be_displayed.album.name %></p>
                    <audio controls>
                        <source src="<%= @song_to_be_displayed.preview_url %>" type="audio/ogg">
                        <source src="<%= @song_to_be_displayed.preview_url %>" type="audio/mpeg">
                        <source src="<%= @song_to_be_displayed.preview_url %>" type="audio/wav">
                    </audio>
                </div>
            </div>
        </div>
        <div class="col-md-3 like-dislike-container">
            <%= link_to image_tag("like.png", class: 'fa-lg'), "/like/#{@song_to_be_displayed.id}"%>
        </div>
    </div>

<% else %>

    <div class='row .align-items-center'>
        <div class='col-md-6'>
            <div class='home-container-left'>
                <h1>SoundWave</h1>
                <h4>You don't need to listen for an entire song to know if you like it or not.</h4>
                
                <hr>
                <h5>If you still is not a member, sign up to dive in in this idea!</h5>
                <%= link_to 'Sign Up', new_user_path %>
            </div>
        </div>
    </div>
<% end %>