<!DOCTYPE html>
<html>
  <head>
    <title>MusicLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light shadow p-3 mb-5 bg-body rounded">
      <div class="container-md">
        <%= link_to image_tag("music.png", class: 'img-logo'), root_path %>
        <% if @current_user.present? %>
          <p>Welcome, <%= @current_user.name.capitalize %></p>
          <%= link_to 'My songs', user_songs_path(@current_user) %>
          <%= link_to 'Sign Out', login_path, :method => 'delete' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Sign In', login_path %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>   