<!DOCTYPE html>
<html>
  <head>
    <title>MusicLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    <nav class="navbar navbar-expand-lg bg-light shadow p-3 mb-5 rounded">
      <div class="container-fluid">
        <%= link_to image_tag("music.png", class: 'img-logo'), root_path %>
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if @current_user.present? %>
              <p>Welcome, <%= @current_user.name.capitalize %></p>
              <%= link_to 'My songs', user_songs_path(@current_user), class: 'nav-link' %>
              <%= link_to 'Feed database', new_item_path, class: 'nav-link' %>
              <%= link_to 'Sign Out', login_path, :method => 'delete', class: 'nav-link' %>
            <% else %>
              <%= link_to 'Sign Up', new_user_path, class: 'nav-link' %>
              <%= link_to 'Sign In', login_path, class: 'nav-link' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

      <%= yield %>
      
    </div>
  </body>
</html>